

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body {
	padding-top: 70px;
	background-color: #eee;
}

.img-responsive {
	width: 100%;
	-ms-interpolation-mode: bicubic;
}

video {
  width: 100%    !important;
  height: auto   !important;
}

#content {
	margin: 0 auto;
}

.sfw .nsfw > * {
	visibility: hidden;
}

.sfw .nsfw {
	background: #fcc;
}

.sfw a.nsfw:focus:before,
.sfw a.nsfw:hover:before {
	font-weight: bolder;
	font-size: 3em;
	content: "NSFW";
	position: absolute;
	top: 0.5em;
	left: 0.5em;
}

iframe {
	-webkit-backface-visibility: hidden;
	-webkit-transform: scale(1);
}

.white {
	color: white;
}

.no-break {
	white-space: nowrap;
	word-break: keep-all;
}

.white:hover, .white:focus {
	color: #eee;
}

.item {
	word-wrap: break-word;
}

.embed-responsive {
	padding-top: 0;
	padding-left: 0;
	padding-right: 0;
}

.embed-responsive-item {
	width: 100%;
}

.list-group-item.full:first-child {
	padding: 0;
}

.list-group-item.full:first-child > * {
	border-top-right-radius: 4px;
	border-top-left-radius: 4px;
}

a {
	cursor: pointer;	
}

a.link:hover,
a.link:focus {
	text-decoration: none !Important;	
}

@media (max-width: 768px) {
	body {
		padding-top: 60px;
	}
	.container-fluid {
		padding-right: 5px;
		padding-left: 5px;
	}
	.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
		padding-right: 0px;
		padding-left: 0px;
	}
}

/* ==========================================================================
   Dropdown
   ========================================================================== */

.tt-dropdown-menu {
	position: absolute;
	top: 100%;
	left: 0;
	z-index: 1000;
	display: block;
	float: left;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
}

.tt-suggestion {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.42857143;
	color: #333;
	white-space: nowrap;
	margin: 0;
}

.tt-hint {
	color: #eee;
}

.tt-suggestion:hover, 
.tt-suggestion:focus,
.tt-suggestion.tt-cursor {
	background-image: -webkit-linear-gradient(top,#f5f5f5 0,#e8e8e8 100%);
	background-image: linear-gradient(to bottom,#f5f5f5 0,#e8e8e8 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff5f5f5', endColorstr='#ffe8e8e8', GradientType=0);
	background-color: #e8e8e8;
	text-decoration: none;
	color: #262626;
	cursor: pointer;
}
